@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Profile</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name</dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>Last Name</dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>Email Address</dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>Street Address 1</dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress1)
        </dd>

        <dt>Street Address 2</dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Abbreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode.Zip)
        </dd>

        <dt>Pickup Day</dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDay.Name)
        </dd>

    </dl>
</div>

<input id="userAddress" hidden value="@Model.StreetAddress1@Model.City.Name@Model.State.Abbreviation" />

@if (User.IsInRole("Employee"))
{
    <style>
        #map {
            height: 400px;
            width: 400px;
        }
    </style>

    <div id="map"></div>
    <script>
        function findAddress() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var json = JSON.parse(this.response);
                    
                    var glat = json.results[0].geometry.location.lat;
                    var glng = json.results[0].geometry.location.lng;

                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 43.038902, lng: -87.906474 },
                        zoom: 12
                    });
                    var marker = new google.maps.Marker({
                        position: { lat: glat, lng: glng },
                        map: map
                    })
                }
            };

            var location = document.getElementById('userAddress').value.replace(' ', '');
            console.log(location);
            xmlhttp.open("GET", "http://maps.googleapis.com/maps/api/geocode/json?address={" + location + "}&sensor=false", true);
            xmlhttp.send();
        };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxX_PLyVL008eoD7yGSgYvqzNPkAWNy_k&callback=findAddress"
            async defer></script>
}
    <p>
        @if (User.IsInRole("Customer"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId })
        }
        else if (User.IsInRole("Employee"))
        {
        <br />
            @Html.ActionLink("Back to Pickups", "Pickups", "Employees") 
            @Html.ActionLink("Back to List", "Index")
        }

    </p>
