@model TrashCollector.Models.Customer

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Abbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Abbreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDay.Name)
        </dd>

    </dl>
</div>

@if (User.IsInRole("Employee"))
{
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 400px;
    }
</style>

<div id="map"></div>
<script>

    $.ajax({
        url: @Url.Action("GetAddress", "Customers"),
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({ "resultAddress": address }),
        dataType: "json",
        success: function () { alert('Success'); },
        error: function () { alert{ 'Error' }; }
    });


    var map;
    var geocoder = new google.maps.Geocoder(AIzaSyD6nDPnZfRdHImsuZS7g1MsaftUa - yxxPY);
    function initMap() {
        let customerAddress = 
        
        getCoordinates(customerAddress, function (coords) {
            var mapOptions = {
                zoom: 12,
                center: new google.maps.LatLng(coords[0], coords[1])
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
        })

        //var milwaukee = { lat: 43.038902, lng: -87.906474 };
        //map = new google.maps.Map(document.getElementById('map'), {zoom: 12, center: milwaukee});

        //var marker = new google.maps.Marker({ position: milwaukee, map: map });
    }

    function getCoordinates(address, callback) {
        var coordinates;
        geocoder.geocode({ address: address }, function (results, status) {
            coords_obj = results[0].geometry.location;
            coordinates = [coords_obj.lat, coords_obj.lng];
            callback(coordinates);
        })
    }



   
    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6nDPnZfRdHImsuZS7g1MsaftUa-yxxPY&callback=initMap"
        async defer></script>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
